name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: write

jobs:
  test:
    uses: ./.github/workflows/deno.yml

  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
