name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  test:
    uses: ./.github/workflows/deno.yml

  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - run: deno task build
      - run: gh release create "$GITHUB_REF_NAME" manifest.json versions.json main.js --generate-notes
